.header{
	background-image: url('../img/header.png');
	background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 20.84%;
}

.add-button{
    background-color: #EA563B !important;
    font-size: 24px;
    color: white;
}

.container-add-button {
    text-align: right;
    margin-right: 30px;
    margin-top: -35px;
}

.grey {
    color: #636363
}

.orange{
    background-color: #EA563B !important;
    color: white !important;
}

.blue {
    color: #00A9D4 !important;
}

.right{
    text-align: right;
}

md-checkbox.md-checked .md-icon {
 background-color: #EA563B;
}

.deadline {
    color: #636363;
    font-size: 14px;
}

.align-center{
    display: flex;
    align-items: center;
}
.small {
    font-size: 12px;
}

.task-line-height{
    min-height: 32px;
}

.task-button-height{
    min-height: 30px;
    line-height: 30px;
}
/*.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }*/
